@import './base.css';

body {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
}


@media screen and (min-width: 200px) {
    .titre {
        font-size: 25px;
        font-family: Raleway;
        font-weight: 100;
    }


    .text {
        font-size: 14px;
        font-family: Montserrat;
    }
}

@media screen and (min-width: 600px) {

    .text {
        font-size: 15px;
        font-family: Montserrat;
    }
}

@media screen and (min-width: 1024px) {

    .text {
        font-size: 15px;
        font-family: Montserrat;
    }

    .titre {
        font-size: 25px;
        font-family: Raleway;
        font-weight: 100;
    }
}

@media screen and (min-width: 1200px) {

    .text {
        font-size: 18px;
        font-family: Montserrat;
    }

    .titre {
        font-size: 35px;
        font-family: Raleway;
        font-weight: 100;
    }
}
